body {
  font-family: Arial, sans-serif;
  background: #87CEEB;
  color: #333;
}

.app {
  text-align: center;
  padding: 20px;
}

.current-weather, .forecast-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  margin: 10px;
}

.forecast {
  display: flex;
  justify-content: space-around;
}

.loader {
  font-size: 24px;
  color: #fff;
}

button {
  margin-top: 20px;
  padding: 10px;
  border: none;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  border: 1px solid #333;
  margin-left: 15px;
}

button:hover {
  background-color: #555;
}

.search-box{
  height: 1.875rem;
  width: 16rem;
}